{% extends "header.html" %} {% block remtitle %} - {% set names = customer.name.split() %}{{ names[0] }}'s Dashboard{% endblock %}


{% block nav %}
<a class=" nav-link main-icon " href="/customer_dashboard" id="index">Helpr</a>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="padding-left: 90px; padding-top: 5PX;">   
    <div class="navbar-nav" >
        <a class="nav-link wite" aria-current="page" href="/customer_dashboard" >Home</a>
    </div>     
    
    <div class="navbar-nav" style="padding-left: 50px;">
        <a class="nav-link wite" aria-current="page" href="/customer_dashboard/customer_summary" >Summary</a>
    </div>
    <div class="d-flex" style="padding-left: 100px">
        <div> 
            <a href="/customer_dashboard/search" class="custom-search" style="color: #888; cursor: pointer; line-height: 44px;">
                <i class='bx bx-search-alt-2'></i>
            </a>
        </div>
        <form class="input-box1 d-flex" style="padding-left: 5px;"  role="search" action="/customer_search" method="get">
            <input id="SearchInput" type="search" placeholder="Search Services" aria-label="Search" style="padding-left: 10px;" name="search_query" required>     
            <button id="SearchButton" style="width: 30%; line-height: 5px; border-radius: 40px; margin-left: 10px;" class="btn btn-custom-purple" type="submit">Search</button>
        </form>
    </div>
</div>
<div class="navbar-nav wite" style="margin-left: 25px;">
    <a class="nav-link d-flex align-items-center" aria-current="page" href="/logout">                           
        <i class="bx bxs-user" style="margin-right: 2px; font-size: 15px"></i>                                               
        Logout                       
    </a> 
</div>
{% endblock %}
 


{% block content %}

<div class="container d-flex"  style="justify-content: flex-end; margin-top: 100px; margin-right: 300px; margin-bottom: 100px;">
    <a class="profile-button d-flex align-items-center" aria-current="page" href="/profile_settings">                           
        <i class="bx bxs-user-circle" style="margin-right: 2px; font-size: 25px"></i>                                               
        {{ customer.name }}                       
    </a> 
</div>
<h2 class="cntr rainbow" style="margin-bottom: 30px;">Choose What You Looking For!</h2>
<div class="wrapper3 d-flex flex-row" style="margin-top: 0px; position: relative;">
    <div style="width: 100%; display: flex; justify-content: space-between; align-items: center; position: relative;">
        <button class="btn btn-custom-purple" id="prev" style="width: 50px; height: 50px; border-radius: 50%; position: absolute; left: 0; z-index: 100;">
            <i class="bx bx-chevron-left" style="font-size: 25px;"></i>
        </button>
        <div class="row" id="services-row" style="overflow-x: scroll; flex-wrap: nowrap; width: max-content; scrollbar-width: none;">
            {% for service in services %}
            <div style="display: flex; flex-direction: column; height: 100%; flex-shrink: 100;">
                <div class="card col-3 m-2 " style="min-width: 300px; min-height: 380px; background-color: rgba(58, 58, 58, 0.788);">
                    <img src="{{ url_for('static', filename='image/' + service.service_name + '.svg') }}" class="card-img-top" alt="{{ service.service_name }}" style="object-fit: cover; width: 100%; height: 200px;">
                    <div class="card-body d-flex " style="justify-content: center; align-items: center;">
                        <p class="card-text" style="color: whitesmoke; font-size: large; font-weight: 600;">{{ service.service_name }}</p>
                    </div>
                    <a href="/customer_dashboard/create_request/{{ service.id }}" class="d-flex btn-service-booking justify-content-center align-items-center">Book Service</a>   
                </div>          
            </div>
            {% endfor %}
        </div>
        <button class="btn btn-custom-purple" id="next" style="width: 50px; height: 50px; border-radius: 50%; position: absolute; right: 0; z-index: 100;">
            <i class="bx bx-chevron-right" style="font-size: 25px;"></i>
        </button>
    </div>
</div>

<div class="wrapper4" style="margin-top: 100px;">
    <h2 style="text-align: center; color: white;">Service History</h2>
    <div>
        <hr style="border: 2px solid white; margin-bottom: 40px;">
    </div>
    <table class="table1 align-middle mb-0">
        <thead style="border-bottom: 5px solid rgb(189, 178, 178);">
            <tr>
                <th>Service Type</th>
                <th>Professional Name</th>
                <th>Direction</th>
                <th>Date of Service</th>
                <th>Status</th>
            </tr>
        </thead>
        <tr style="height: 10px;"></tr>
        <tbody>
            {% for request in service_history %}
                <tr style="border-bottom: 1px solid white;">
                    <td class="py-3">{{ request.service.service_name }}</td>
                    <td class="py-3 ">{{ request.professional.user_name }}</td>
                    <td class="py-3 description">{{ request.direction }}</td>
                    <td class="py-3">{{ request.date_of_request }}</td>
                    <td >{{ request.status }}</td>
                    <td class="py-3 ">
                        {% if request.status == 'accepted' %}
                            <div class="d-flex">
                                <a href="/customer_dashboard/close_request/{{ request.id }}" class="btn btn-custom-green" style="width: auto">Close</a>
                            </div>
                        {% elif request.status == 'pending' %}
                            <div class="d-flex">
                                <a href="/customer_dashboard/edit_request/{{ request.id }}" class="btn btn-custom-idle" style="width: 28%;">Edit</a>
                                <a href="/customer_dashboard/delete_request/{{ request.id }}" class="btn btn-custom-red" style="width: 28%;">Delete</a>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>   
</div>





<script>
    const prevButton = document.getElementById('prev');

    const nextButton = document.getElementById('next');
    const servicesRow = document.getElementById('services-row');

    prevButton.addEventListener('click', () => {
        servicesRow.scrollBy({
            left: -350,
            behavior: 'smooth'
        });
    });

    nextButton.addEventListener('click', () => {
        servicesRow.scrollBy({
            left: 350,
            behavior: 'smooth'
        });
    });
</script>
<style>
    #services-row::-webkit-scrollbar {
        display: none;
    }
</style>


{% endblock %}