{% extends "header.html" %} {% block title %}Service Professional Registration{% endblock %}

{% block nav %}
<a class=" nav-link main-icon " href="/admin_dashboard" id="index">Helpr</a>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="padding-left: 90px; padding-top: 5PX;">   
    <div class="navbar-nav" >
        <a class="nav-link wite" aria-current="page" href="/admin_dashboard" >Home</a>
    </div>     
    
    <div class="navbar-nav" style="padding-left: 50px;">
        <a class="nav-link wite" aria-current="page" href="#" >Summary</a>
    </div>
</div>
<div class="navbar-nav wite">
    <a class="nav-link d-flex align-items-center" aria-current="page" href="/login">                           
        <i class="bx bxs-user" style="margin-right: 2px; font-size: 15px"></i>                                               
        Login                       
    </a> 
</div>

{% endblock %}


{% block content %}

<div class="container cntr" style=" background: url(static/image/bg5.png) no-repeat; background-size: 100% 100%; background-position: center;">
    <div class="wrapper2" style="margin-top: 8%">
        <form method="post" action="/professional_register" enctype="multipart/form-data">
            <h1 style="color: white;">Service Professionals Signup</h1>
            <hr style="border: 1px solid white; margin-bottom: 60px;">
            <div class="input-box">
                <label class="form-label">Username</label>
                <input type="text" name="username" required>               
            </div>
            <div class="input-box">
                <label class="form-label">Password</label>
                <input type="password" name="password" required>          
            </div>
            <div class="input-box">
                <label class="form-label">Name</label>
                <input type="text" name="name" required>
            </div>
            <div class="input-box">
                <label class="form-label">Service Type</label>
                <select  name="service" required>
                    <option value="" disabled selected hidden>Choose a service type</option>
                    {% for service in services %}
                        <option value="{{ service.service_name }}">{{ service.service_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-box">
                <label class="form-label">Experience(in years)</label>
                <input type="text" name="pro_experience" required>
            </div>
            <div class="input-box" style="text-align: center;">
                <label class="form-label" for="formFile">Attach Documents for Proof</label>
                <input style="padding: 8px 0 0 30px;" type="file" id="formFile" name="pro_file"/>
            </div>
            <div class="input-box">
                <label class="form-label">Address</label>
                <input type="text" name="address" required>
            </div>
            <div class="input-box">
                <label class="form-label">Pincode</label>
                <input type="text" name="pincode" required>
            </div>
            
            <div>
                <button type="submit" class="btn">Register</button>
            </div>
            <div class="register-link" style="padding-top: 10px">
                <p>or register as <a href="/customer_register">Customer</a></p> 
            </div>
        </form>
    </div>
</div>

{% endblock %}
